<!DOCTYPE html> 
<html lang="en">
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    </head>
    <body>
        <script>
            const socket = io('http://localhost:3000');
            socket.on('pay-message', data => {
                console.log(data);
                document.getElementById('socketMessage').innerHTML = data;
            });
        </script>
        <p id="socketMessage"></p>
    </body>
</html>